{% extends "emails/base.html.twig" %}
{% block body %}
    <h2>Bienvenue {{user.firstname}} sur le site de mise en relation des agents de la fonction publique.</h2>
    <p>Vous venez de créer un compte, vous pouvez vous connecter dès à présent avec vos identifiants.</p>
    <p>A bientôt</p>
{% endblock %}